@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.listItem {
    list-style: none;
    font-weight: 200;
    // margin: 12px;
    padding: 12px;
    color: #000;
    border-bottom: #aaa 1px solid;
    table {
        .td1 {
            width: 60%;
        }
    }
    .place {
        font-size: 1.5em;
        font-weight: 600;
    }
    .label {
        font-weight: 600;
    }
    .reason {
        padding-left: 40px;
    }
    div {
        padding: 3px;
    }
}

#ring {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    padding: 150px 0;
    font-weight: 600;
    font-size: 2.0em;
}

#panel {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #000;
    bottom: 0;
    padding: 8px;
    z-index: 99;
    font-size: 0.8em;
    font-weight: 200;
    color: #fff;
}
