@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

body {
    background-color: #000;
}

.area {
    padding: 8px;
    margin: 8px;
    .area_title {
    }
    .area_description {
        font-size: 0.7em;
        margin-top: 8px;
    }
}

.menu {
    margin-top: 10px;
    .menu_item {
        width: 150px;
        height: 150px;
        vertical-align: top;
        list-style: none;
        display: inline-block;
        border: 1px #fff solid;
        padding: 4px 6px;
        margin: 4px;
        &.active {
            background-color: #555;
        }
        .menu_item_title {
            text-align: center;
            font-size: 0.9em;
        }
        .menu_item_detail {
            margin-top: 8px;
            font-size: 0.7em;
        }
        .menu_item_source {
            margin-top: 10px;
            font-size: 0.6em;
        }
    }
}
