@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ddd;
    font-size: 1.05em;
}

body, html {
    background-color: #000;
}

.area {
    padding: 12px;
    margin: 12px;
    .area_title {
        color: #fff;
        font-size: 1.5em;
        margin: 20px 0;
        border-bottom: 1px #444 solid;
    }
    .area_description {
        font-size: 0.9em;
        margin-top: 8px;
    }
}

.menu {
    margin-top: 10px;
    .menu_item {
        font-size: 0.9em;
        width: 266px;
        height: 216px;
        vertical-align: top;
        list-style: none;
        display: inline-block;
        background-color: #222;
        padding: 8px;
        margin: 12px 12px;
        border-radius: 36px;
        &.active {
            background-color: #777;
            box-shadow: 0px 0px 5px 5px #667;
        }
        .menu_item_title {
            text-align: center;
            font-size: 0.9em;
            border-bottom: 1px #bbb solid;
        }
        .menu_item_detail {
            margin-top: 8px;
            font-size: 0.8em;
        }
        .menu_item_source {
            margin-top: 10px;
            font-size: 0.7em;
            color: #fff;
            font-style: italic;
        }
    }
}
